
#- files/folders ignored by git
#- https://help.github.com/articles/ignoring-files
#- https://git-scm.com/docs/gitignore

#- ignore the about folder
.about

#- ignore NetBeans' project folder
nbproject
